/* src/maincomponents/AboutPageComponents/AboutPage.css */

.section-one,
.section-two {
  scroll-snap-align: start; /* Ensure smooth scrolling */
  height: 60vh;
}

.section-one {
  background-color: #fbf2c4;
  display: flex;
  flex-direction: column; /* Ensure flex items are stacked vertically */
  position: relative; /* Add this line to establish a positioning context */
}

.section-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("handsthree.png");
  background-size: auto 100%; /* Adjust the width of the background image */
  background-repeat: no-repeat; /* Prevent background from repeating horizontally */
  background-position: center bottom; /* Move the background image towards the left */
  z-index: 1;
  opacity: .9;
}

.section-content {
  display: flex;
  flex-direction: column; /* Change to column to lay out the subsections vertically */
  height: 100%;
}

.sub-section-one {
  background-color: #fbf2c4; /* Keep original color */
  height: 10%; /* Set the height of the first subsection to 30% */
}

.sub-section-two {
  background-color: #c7522a; /* Keep original color */
  height: 30%; /* Set the height of the second subsection to 40% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ourteam {
  color: white;
  font-size: 80px;
  font-weight: normal;
}

.subsectiontwo-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subsectiontwo-image img {
  max-width: 100%;
  max-height: 100%; /* Set image height to 100% of its container */
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  z-index: -1;
}

.sub-section-three {
  height: 30%; /* Set the height of the third subsection to 30% */
}

/* .sectiontwo {
  margin-top: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sectiontwo-content{
  background-color: blue;
  width: 50%;
} */
