/* // src/components/maincomponents/NavigationComponents/Menu.css
*/

.navlist {
  padding: 20px 60px;
  height: 15px;
  /* background-color: #eac4d5; */
  display: flex; /* Arrange menu items horizontally */
  justify-content: space-around; /* Evenly space menu items */
  background-color: #97bc62;
}

.navlist a {
  text-decoration: none;
  color: white;
}

.navlist a:hover {
  color: yellow;
}

.menu-item-container {
  /* background-color: #008585; */
  position: relative;
  text-align: center; /* Center the text horizontally */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  width: 20%;
  font-size: 20px;
  text-transform: uppercase; /* Make the text uppercase */
  font-weight: bold; /* Optionally, make the text bold */
  /* Rounded corners */
  /* border-radius: 20px;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 70%,
    50% 100%,
    0% 70% */
  /* );  */
  /* Polygon shape */
}
